---
layout: "layout.njk"
permalink:
  serverless: "/:color/"
comparisonColors:
  - "#fff"
  - "#000"
---
<code>{{ serverlessColor.toHslString() }}</code><br>
<code>{{ serverlessColor.toRgbString() }}</code><br>
<code>{{ serverlessColor }}</code><br>

{% if serverlessColor and serverlessColor.toName() %}
{{ serverlessColor.toName() }}
{% endif %}

<div class="contrast">
{%- for comparison in comparisonColors %}
{%- set ratio = serverlessColor | contrast(comparison) %}
  <div style="color: {{ comparison }}">
    <span>Contrast with {{ comparison }}: <code>{{ ratio | round(3) }}</code></span>
    <ul>
      <li>{% if ratio > 4.5 %}<span class="compat yes">Yes</span>{% else %}<span class="compat no">No</span>{% endif %} WCAG 2.0 AA</li>
      <li>{% if ratio > 7 %}<span class="compat yes">Yes</span>{% else %}<span class="compat no">No</span>{% endif %} WCAG 2.0 AAA</li>
    </ul>
  </div>
{%- endfor %}
</div>